<a href="https://colab.research.google.com/github/jadeye/lotto/blob/master/lotto1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install tensorflow

Requirement already satisfied: tensorflow in /usr/local/lib/python3.6/dist-packages (1.14.0)
Requirement already satisfied: grpcio>=1.8.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (1.15.0)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (0.33.4)
Requirement already satisfied: keras-applications>=1.0.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (1.0.8)
Requirement already satisfied: tensorboard<1.15.0,>=1.14.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (1.14.0)
Requirement already satisfied: numpy<2.0,>=1.14.5 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (1.16.4)
Requirement already satisfied: google-pasta>=0.1.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (0.1.7)
Requirement already satisfied: keras-preprocessing>=1.0.5 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (1.1.0)
Requirement already satisfied: protobuf>=3.6.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (3.7.1)
Requirement already satisfied: tensorflow-estimator<1.15.0rc0,>=1.14.0rc0 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (1.14.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (1.1.0)
Requirement already satisfied: wrapt>=1.11.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (1.11.2)
Requirement already satisfied: astor>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (0.8.0)
Requirement already satisfied: absl-py>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (0.7.1)
Requirement already satisfied: gast>=0.2.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (0.2.2)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow) (1.12.0)
Requirement already satisfied: h5py in /usr/local/lib/python3.6/dist-packages (from keras-applications>=1.0.6->tensorflow) (2.8.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.6/dist-packages (from tensorboard<1.15.0,>=1.14.0->tensorflow) (3.1.1)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.6/dist-packages (from tensorboard<1.15.0,>=1.14.0->tensorflow) (0.15.5)
Requirement already satisfied: setuptools>=41.0.0 in /usr/local/lib/python3.6/dist-packages (from tensorboard<1.15.0,>=1.14.0->tensorflow) (41.0.1)

In [5]:
import tensorflow as tf
print(tf.__version__)

1.14.0

In [0]:
!pip install seaborn

Requirement already satisfied: seaborn in /usr/local/lib/python3.6/dist-packages (0.9.0)
Requirement already satisfied: numpy>=1.9.3 in /usr/local/lib/python3.6/dist-packages (from seaborn) (1.16.4)
Requirement already satisfied: scipy>=0.14.0 in /usr/local/lib/python3.6/dist-packages (from seaborn) (1.3.1)
Requirement already satisfied: pandas>=0.15.2 in /usr/local/lib/python3.6/dist-packages (from seaborn) (0.24.2)
Requirement already satisfied: matplotlib>=1.4.3 in /usr/local/lib/python3.6/dist-packages (from seaborn) (3.0.3)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.15.2->seaborn) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.15.2->seaborn) (2018.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4.3->seaborn) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4.3->seaborn) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4.3->seaborn) (2.4.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.5.0->pandas>=0.15.2->seaborn) (1.12.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1.4.3->seaborn) (41.0.1)

In [10]:
from __future__ import absolute_import, division, print_function, unicode_literals

import pathlib

import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

print(tf.__version__)

1.14.0

In [11]:
from google.colab import files
uploaded = files.upload()

Saving Lottoup.csv to Lottoup.csv

In [13]:
print (uploaded['Lottoup.csv'][:200].decode('utf-8') + '...')

lotnum,date,1,2,3,4,5,6,xtra,win,wind
3165,17/08/2019,11,13,17,24,34,36,1,0,0
3164,13/08/2019,1,13,15,27,31,35,4,0,0
3163,11/08/2019,11,17,25,33,35,36,3,0,0
3162,08/08/2019,6,10,22,25,30,37,1,0,0
3161...

In [16]:
import pandas as pd
import io

df = pd.read_csv(io.StringIO(uploaded['Lottoup.csv'].decode('utf-8')))
df

      lotnum        date   1   2   3   4   5   6  xtra  win  wind
0       3165  17/08/2019  11  13  17  24  34  36     1    0     0
1       3164  13/08/2019   1  13  15  27  31  35     4    0     0
2       3163  11/08/2019  11  17  25  33  35  36     3    0     0
3       3162  08/08/2019   6  10  22  25  30  37     1    0     0
4       3161  06/08/2019   1  14  25  29  30  33     3    0     0
5       3160  03/08/2019  11  19  20  27  30  37     5    0     0
6       3159  30/07/2019   6  10  11  24  32  36     4    0     0
7       3158  27/07/2019   4  13  17  28  35  37     3    0     0
8       3157  23/07/2019   1  10  28  31  32  35     6    0     0
9       3156  20/07/2019  14  17  25  26  29  35     7    0     0
10      3155  16/07/2019   3   4   7  18  22  23     2    1     0
11      3154  13/07/2019  13  15  16  28  31  32     6    0     0
12      3153  09/07/2019   1  10  12  14  27  29     2    0     0
13      3152  06/07/2019   4  18  19  23  24  37     5    0     0
14      3151  04/07/2019   8  18  26  29  31  36     4    0     0
15      3150  02/07/2019   1  28  29  30  32  34     5    0     0
16      3149  29/06/2019  10  11  14  24  27  35     3    1     1
17      3148  25/06/2019  17  22  26  28  34  36     5    1     0
18      3147  22/06/2019   3  10  11  17  24  36     7    0     0
19      3146  20/06/2019   4  11  16  25  35  36     6    1     0
20      3145  18/06/2019   1   9  13  19  20  34     5    0     0
21      3144  15/06/2019   4   7   8   9  16  31     1    0     0
22      3143  11/06/2019   4  13  17  19  25  37     1    0     0
23      3142  09/06/2019   3  13  14  20  22  23     3    0     0
24      3141  06/06/2019  10  12  15  19  27  28     3    0     0
25      3140  04/06/2019   1   6  19  22  25  32     5    0     0
26      3139  01/06/2019   4   5  19  24  31  37     6    0     0
27      3138  28/05/2019   1   4  11  14  17  22     2    0     0
28      3137  25/05/2019   3  10  16  25  29  32     1    0     0
29      3136  21/05/2019  17  20  22  24  28  32     7    1     0
...      ...         ...  ..  ..  ..  ..  ..  ..   ...  ...   ...
1123    2042  30/05/2009   2  22  24  32  36  37     7    0     0
1124    2041  26/05/2009   2   5   9  17  23  33     3    0     1
1125    2040  23/05/2009  21  23  29  30  31  35     2    0     0
1126    2039  19/05/2009   4   5  10  11  30  37     4    0     0
1127    2038  16/05/2009   4  15  20  30  31  35     2    0     0
1128    2037  12/05/2009   3   6  18  26  27  34     6    0     0
1129    2036  09/05/2009  13  16  17  19  21  28     4    1     0
1130    2035  07/05/2009   7   9  28  29  36  37     1    0     0
1131    2034  05/05/2009  16  24  29  32  36  37     3    0     0
1132    2033  02/05/2009   5  11  15  20  21  26     5    0     0
1133    2032  29/04/2009   2   6  13  21  27  31     7    0     0
1134    2031  25/04/2009   1   5   6  16  27  33     3    0     0
1135    2030  21/04/2009  10  17  19  32  35  37     4    0     0
1136    2029  18/04/2009  13  16  18  25  32  33     7    1     0
1137    2028  15/04/2009   9  12  17  18  33  34     5    0     0
1138    2027  11/04/2009   4   5  10  11  20  25     5    0     0
1139    2026  07/04/2009   3  18  21  24  27  29     1    1     0
1140    2025  04/04/2009  15  17  21  35  36  37     6    0     0
1141    2024  02/04/2009   1   9  17  25  28  33     2    1     0
1142    2023  31/03/2009   2   8  21  22  33  35     4    0     0
1143    2022  28/03/2009  12  13  20  24  28  31     1    0     0
1144    2021  24/03/2009   2   8  12  21  26  28     5    0     0
1145    2020  21/03/2009   3   4  12  14  20  31     2    0     0
1146    2019  17/03/2009   7   9  10  11  20  33     3    0     0
1147    2018  14/03/2009   3   8  10  11  19  31     2    0     0
1148    2017  10/03/2009   5  11  15  28  30  34     2    0     0
1149    2016  07/03/2009   1   2  10  14  17  21     1    0     0
1150    2015  05/03/2009   1   7  10  24  28  35     1    0     0
1151    2014  03/03/2009  14  15  16  23  25  35     2    0     0
1152    2013  28/02/2009   8  14  24  28  34  35     8    0     0

[1153 rows x 11 columns]